.Card1{
    width: 100%;
    height: 660px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.918);
    margin-right: 50px;
}

.company{
    padding-top: 20px;
    font-family: 'Inter', sans-serif; 
    font-size: 48px;
    margin-left: 4rem;
    font-weight: 10px;
    max-width: 600px;
    color: white;
}

.award{
    padding-top: 10px;
    font-family: 'Inter', sans-serif; 
    color: gray;
    font-weight: bold;
    margin-left: 4rem;
    max-width: 560px;
}
.companyLogos{
    margin-top: 45px;
    margin-left: 4rem;
    justify-items: center;
    justify-content: space-between;

}

.companyLogos svg{
    justify-items: end;
    padding-right: 90px;

}
.lcard1{
    margin-left: 4rem;
}

.lcard2{
    padding-left: 20px;
}
.carousel{
  display: flex;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
    .Card1{
        height: 980px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.918);

    }
  .company{
    display: flex;
    max-width: 500px;
  }
  .award{
    display: flex;
    max-width: 440px;
  }
  .carousel{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    left: 7%;
  }
  .carousel .lcard1{
    max-width: 250px;
  }
  .carousel .lcard2{
    max-width: 250px;
    margin-left: 2.8rem;
    padding-top: 5px;

  }
  }