.Card2{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.918);
    display: flex;
    position: relative;
}
.lcard2{
    font-family: 'Inter', sans-serif; 
    flex:1;
    position: relative;
    color: white;
    margin-left: 5rem;
}
.lcard2 .arrow{
    top:3%;
    left:34%;
    font-size: 40px;
    position: absolute;
}
.lcard2 .spense{
    font-weight: 400;
    font-size: 32px;
}
.lcard2 .rethinking{
    max-width: 480px;
    color: gray;
    font-weight: bold;

}

.rcard2{
    font-family: 'Inter', sans-serif; 
    flex:1;
    position: relative;
    color: white;
}
.rcard2 .arrow{
    top:3%;
    left:34%;
    font-size: 40px;
    position: absolute;
}
.rcard2 .yelp{
    font-weight: 400;
    left: 0;
    font-size: 32px;
}
.rcard2 .allowing{
    max-width: 460px;
    color: gray;
    font-weight: bold;
}

.grayback{
    margin-top: 2rem;
    width: 100%;
    height: 360px;
    background-color:rgba(161, 161, 161, 0.377);
    position: absolute;
    top: 30%;
    font-family: 'Inter', sans-serif; 
    color: white;
}
.grayback .lgray .cofound{
    font-size: 32px;
    flex:1;
    position: absolute;
    left:8%;
    max-width: 500px;
    font-weight: 590px;
}
.grayback .lgray .combined{
    position: absolute;
    color: gray;
    font-weight: bold;
    top: 28%;
    max-width: 470px;
    left:8%;
}
.grayback .rgray{
    flex:1;
    position: absolute;
    left:48%;
    top:7%;
    color: gray;
    font-weight: bold;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    .Card2{
        height: 800px;
        display: flex;
        flex-direction: column;
    }
    .lcard2 .arrow{
        left: 40%;
        top: 5%;
    }
  }